:root {
  --main: #8f7082;
  --light: rgb(235, 226, 226);
  --dark: rgb(39, 38, 39);
}

body {
  background: rgb(85,49,70);
  background: linear-gradient(350deg, rgba(85,49,70,1) 0%, rgba(143,112,130,1) 44%, rgba(173,131,155,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0;
}

/* --Header-- */

header {
  display: flex;
  width: 100%;
  padding: 15px 1% 15px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
}

header h1 img {
  width: 250px;
  margin-bottom: -2rem;
  margin-right: -5rem;
}

header h1 {
  font-size: 50px;
  margin: 3.5rem;
  line-height: 1;
}

/* banner */

.bannerimage {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
  margin: 0px;
}

.bannerdescription {
  display: flex;
  justify-items: flex-end;
  position: absolute;
  right: 10px;
  margin-top: -3.5em;
  font-size: 1.5em;
  font-weight: lighter;
  color: var(--light);
  background-color: var(--main);
  padding: 0.8em;
}

/* --Navbar-- */
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* all button links */

.button{
  color: var(--light);
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 16px;
  background: #9D798E;
  box-shadow:  7px 7px 14px #856779,
  -7px -7px 14px #b58ba3;
  border-width: 1px;
  border-width: 1px;
  border-color: var(--main);
  margin: 30px;
}

.button:hover {
  border-radius: 16px;
  background: #8f7082;
  box-shadow:  7px 7px 14px #b38ca3,
  -7px -7px 14px #e0c3d4;
  border-width: 1px;
  border-color: var(--light);
}

.button:focus {
  color: var(--dark);
}

/* main */

main {
  margin-top: 20px;
  margin-bottom: 35px;
}

.mainheader {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: var(--light);
  border-right: 7px solid;
  border-color: var(--dark);
  font-size: 1.5em;
  font-weight: 300;
}

section {
  display: flex;
  flex-wrap: wrap;
}

#about {
  margin-top: 20px;
  margin-bottom: 20px;
}

#portfolio {
  margin-bottom: 20px;
}

#contact {
  margin-top: 20px;
  margin-bottom: 20px;
}
section > h2 {
  flex: 1 1 30%;
}

section > * {
  flex: 1 1 70%;
}

.aboutmetext {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.portfoliocards {
  width: 100%;
}


.bigcardimage:hover {
  border-radius: 35px;
  background: #8f7082;
  box-shadow:  10px 10px 25px #83777e,
  -10px -10px 25px #c2bbbb;
  opacity: 0.7;
}

.smallcardimage:hover {
  border-radius: 35px;
  background: #8f7082;
  box-shadow:  10px 10px 25px #83777e,
  -10px -10px 25px #c2bbbb;
  opacity: 0.7;
}

.labelheading {
  width: 15rem;
  height: 5.5rem;
  background-color: var(--main);
  margin: 5.5rem 0 0 25px;
  position: absolute;
  padding: 20px;
  border-radius: 0 9px 9px 0;
  color: var(--light);
  font-size: 1.5rem;
  z-index: 1;
  display: inline-block;
}

.labeldescription {
  width: 12rem;
  height: 5.5rem;
  margin: 7.25rem 0 0 25px;
  position: absolute;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--light);
  opacity: 1;
  z-index: 1;
  display: inline-block;
}

.bigcardimage {
  border-radius: 35px;
  background: #8f7082;
  box-shadow:  10px 10px 25px #7a5f6f,
  -10px -10px 25px #a48196;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 90%;
  object-fit: cover;
  position: relative;
  margin-bottom: 30px;
}

.smallcardimage {
  border-radius: 35px;
  background: #8f7082;
  box-shadow:  10px 10px 25px #7a5f6f,
  -10px -10px 25px #a48196;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: 43.5%;
  object-fit: cover;
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
}

#project4label {
  display:flex;
}

#project4description {
  display:flex;
}

/* address */

address {
  margin: 5px;
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

address > a{
  color: var(--light);
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 16px;
  background: #6E4C5F;
  box-shadow:  7px 7px 20px #634758,
  -7px -7px 20px #8B687C;
  border-width: 1px;
  border-color: var(--main);
  margin: 30px;
}

address > a:hover {
  border-radius: 16px;
  background: #8f7082;
  box-shadow:  7px 7px 14px #7a5f6f,
  -7px -7px 14px #a48196;
  border-width: 1px;
  border-color: var(--light);
}

address > a:focus {
  color: var(--dark);
}

/* responsive styling */

@media screen and (max-width: 1099px) {
  header {
    padding: 0 0 5px 0;
    text-align:center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 0 0 5px 0;
    text-align:center;
    justify-content: center;
  }

  .labelheading {
    width: 11rem;
    height: 5rem;
    padding: 10px;
    font-size: 1.5rem;
  }

  .labeldescription {
    width: 11rem;
    height: 5rem;
    padding: 10px;
    font-size: 1rem;
  }

  header h1 img {
    margin-bottom: -2rem;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 0 0 5px 0;
    text-align:center;
    flex-direction: row;
    justify-content: center;
  }

  .bannerdescription {
    margin-top: -5em;
  }

  .bigcardimage {
    width: 85%;
  }

  .smallcardimage {
    width: 85%;
  }

  .labelheading {
    width: 9rem;
    height: 4rem;
    padding: 6px;
    font-size: 1rem;
    display: flex;
  }

  .labeldescription {
    width: 8rem;
    height: 4rem;
    padding: 8px;
    font-size: 1rem;
    display: flex;
  }

  header h1 img {
    margin-bottom: -1rem;
  }
}